body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Initially set overflow to hidden */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-x: auto; /* Enable horizontal scrolling */
}

.box {
    width: 49vw;
    border: 1px solid black;
    vertical-align: middle;
    box-sizing: border-box; /* Include padding and border in the box's total width and height */
}

#logo {
    width: 17vw;
}

.Images {
    width: 50vw;
    height: auto; /* Make images responsive */
}

#Image1, #image2, #image3, #image4 {
    width: 98%;
}

#Image1, #image3 {
    width: %;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
}

#image2, #image4 {
    width: %;
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}

#box2, #box6 {
    text-align: right;
    vertical-align: middle;
}

#box9, #box10, #box11 {
    text-align: center;
}

.textright {
    margin-left: 5%;
    text-align: left;
    font-family: 'Segoe UI';
    font-size: 3.2vw;
    font-style: normal;
    font-weight: 900;
    text-decoration: none;
    text-transform: none;
    color: #000000;
    background-color: #ffffff;
}

.pright {
    margin-left: 5%;
    margin-left: 5%;
    margin-left: 5%;
    text-align: left;
    font-family: 'Segoe UI';
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    color: #757c86;
    background-color: #ffffff;
}

.textleft {
    margin-left: 5%;
    text-align: left;
    font-family: 'Segoe UI';
    font-size: 3.2vw;
    font-style: normal;
    font-weight: 900;
    text-decoration: none;
    text-transform: none;
    color: #000000;
    background-color: #ffffff;
}

.pleft {
    margin-left: 5%;
    margin-left: 5%;
    text-align: left;
    font-family: 'Segoe UI';
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    color: #757c86;
    background-color: #ffffff;
}

.text {
    border: 1px solid #000;
    padding-right: 2vw;
}

.main {
    border: 1px solid #000;
}

.maintext {
    margin-left: 5%;
    text-align: left;
    font-family: 'Segoe UI';
    font-size: 4vw;
    font-style: normal;
    font-weight: 900;
    text-decoration: none;
    text-transform: none;
    line-height: 1;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000;
}

.pmaintext {
    margin-left: 5%;
    text-align: left;
    font-family: 'Segoe UI';
    font-size: 1.8vw;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    color: #757c86;
    background-color: #ffffff;
    border: 1px solid #000;
    margin-right: 5%;
}

.form1 {
    margin-left: 5%;
    border: 1px solid #000;
}

.table {
    margin-left: 5%;
    border: 1px solid #000;
    width: 90%;
    vertical-align: middle;
}

.tgcell {
    margin-left: 5%;
    text-align: left;
    font-family: 'Segoe UI';
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    color: #757c86;
    background-color: #ffffff;
    height: auto;
    width: 33%;
    text-align: center;
}

.tgclast {
    margin-left: 5%;
    text-align: left;
    font-family: 'Segoe UI';
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    color: #757c86;
    background-color: #ffffff;
    width: 33%;
    text-align: center;
}

.Review {
    width: 40vw;
    margin-left: 4%;
}

.ReviewsImg {
    width: 100%;
}

#box1, #box2 {
    margin-top: 10vh;
}

#box10 {
    text-align: center;
    
}

#form {
    border: solid;
    border-radius: 1.5em;
    height:;
    width: auto;
    margin-left: 17.5vw;
    margin-right: 17.5vw;
    text-align: center;
    background-image: url('assets/regbg.jfif');
}

.form-field {
    width: 80%;
    aspect-ratio: 18/1;
    margin-top: 2vh;
}

.button {
    margin: 3vh;
}

#first-name {
    margin-top: 6vh;
}

@media screen and (max-width: 600px) {
    .box {
        width: 100%;
    }

    /* Make the body scrollable for width below 600px */
    body {
        overflow: auto;
    }

    #logo {
        width: 60vmin;
    }

    .textleft, .textright {
        font-size: 6vmin;
    }

    .pleft, .pright {
        font-size: 4vmin;
    }

    .text {
        padding-bottom: 10vmin;
        padding-top: 10vmin;
    }

    #Image1, #image2, #image3, #image4 {
        width: 95%;
    }

    .main {
        border: 1px solid #000;
    }

    .maintext {
        font-size: 9vmin;
    }

    .pmaintext {
        font-size: 5vmin;
    }

    .form1 {
    }

    .table {
    }

    .tgcell {
        font-size: 3vmin;
        height: auto;
    }

    .tgclast {
        font-size: 3vmin;
    }

    .Review {
        width: 80vw;
    }

    .ReviewsImg {
        height: 4vw;
        width: %;
    }

    #box1, #box2 {
        margin-top: 20vh;
    }

    #form {
        width: auto;
        margin-right: 5vw;
        margin-left: 5vw;
    }
}
